<ion-tabs class="background-tab-bar">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" class="iconos">
      <ion-icon name="list"></ion-icon>
      <ion-label>{{'PAGS.tab1' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" class="iconos">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>{{'PAGS.tab2' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="iconos">
      <ion-icon name="person"></ion-icon>
      <ion-label>{{'PAGS.tab3' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
