/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*.loading-wrapper{
    background: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.background-toolbar{
    --background: rgb(156, 12, 240);
}

.background-tab-bar{
    --ion-tab-bar-background:rgb(235, 210, 250);
}

.color-title-toolbar{
    color: azure;
}

.background-button{
    --background:rgb(235, 210, 250);
    color: rgb(0, 0, 0)
}

.background-ion-tab{
    --color-selected: black;
}

.background-toolbar-muestraNota{
    --background: rgb(235, 210, 250);
}

.color-title-toolbar-muestraNota{
    color: rgb(0, 0, 0);
}*/

:root{

    //DARK MODE

    .darkModeTheme{

    //letra inicio app
    
    .titulo{
        font-family: titulo;
        font-size: 500%;
        text-align: center;
    }
        
    
    //Formato de los botones
        .botonLogin{
        text-align: center;
        }
  
    //texto
        --ion-text-color: rgb(255, 255, 255);
        .textColor{
        color: rgb(255, 255, 255);
        }
  
    //fondo
        --ion-background-color: rgb(49, 43, 53);
  
    //Botones
        .background-button{
        --background: #000000;
        color:rgb(8, 144, 15);
        }
  
    //iconos
        .iconos{
        color:rgb(8, 144, 15);
        }
  
        .backButton{
        color:rgb(255, 254, 254);
        }
  
    //Toolbar
        --ion-toolbar-background:rgb(61, 59, 61);
        --ion-toolbar-border-color: rgb(27, 21, 31);
        --ion-toolbar-color: rgb(0,0,0);
  
        ion-toolbar{
        text-align: center;
        font-family: My App Custom Font;
        }
  
    //TabBar
        --ion-tab-bar-background:rgb(61, 59, 61);
        --ion-tab-bar-border-color:rgb(27, 21, 31);
        --ion-tab-bar-color-selected: #000000;
        --ion-tab-bar-color: rgb(0, 0, 0);
        }

        
    //LIGHT MODE    

    .lightModeTheme{
    //Tema Dark

    //letra inicio app
    
    .titulo{
        font-family: titulo;
        font-size: 500%;
        text-align: center;
    }
        
            
    //Formato de los botones
        .botonLogin{
        text-align: center;
        }
          
    //texto
        --ion-text-color: rgb(0, 0, 0);
        .textColor{
        color: rgb(0, 0, 0);
        }
          
    //fondo
        --ion-background-color: rgb(255, 254, 254);
          
    //Botones
        .background-button{
        --background: #acabe9;
        color:rgb(9, 0, 136);
        }
          
    //iconos
        .iconos{
        color:rgb(229, 228, 250);
        }
          
        .backButton{
        color:rgb(14, 11, 206);
        }
          
    //Toolbar
        --ion-toolbar-background:rgb(123, 123, 184);
        --ion-toolbar-border-color: rgb(1, 0, 46);
        --ion-toolbar-color: rgb(15, 2, 90);
          
        ion-toolbar{
        text-align: center;
        font-family: My App Custom Font;
        }
          
    //TabBar
        --ion-tab-bar-background:rgb(123, 123, 184);
        --ion-tab-bar-border-color:rgb(1, 0, 46);
        --ion-tab-bar-color-selected: #2c02e7;
        --ion-tab-bar-color: rgb(15, 2, 90);
        }

    
    //RAINBOW MODE    
            
    .rainbowModeTheme{
    
    //letra inicio app
    
    .titulo{
        font-family: titulo;
        font-size: 500%;
        text-align: center;
    }
        
            
    //Formato de los botones
        .botonLogin{
        text-align: center;
        }
                  
    //texto
        --ion-text-color: rgb(0, 0, 0);
        .textColor{
        color: rgb(255, 255, 255);
        }
                  
    //fondo
        --ion-background-color: rgb(151, 233, 165);
                  
    //Botones
        .background-button{
        --background: #fd0000;
        color:rgb(243, 174, 83);
        }
                  
    //iconos
        .iconos{
        color:rgb(251, 227, 9);
        }
                  
        .backButton{
        color:rgb(88, 238, 238);
        }
                  
    //Toolbar
        --ion-toolbar-background:rgb(183, 74, 233);
        --ion-toolbar-border-color: rgb(30, 211, 6);
        --ion-toolbar-color: rgb(76, 197, 197);
                  
        ion-toolbar{
        text-align: center;
        font-family: My App Custom Font;
        }
                  
    //TabBar
        --ion-tab-bar-background:rgb(78, 4, 112);
        --ion-tab-bar-border-color:rgb(30, 211, 6);
        --ion-tab-bar-color-selected: rgb(76, 197, 197);
        --ion-tab-bar-color: rgb(53, 19, 245);
        }        

    //TEMA DEFAULT

    //letra inicio app
    
        .titulo{
        font-family: titulo;
        font-size: 500%;
        text-align: center;
        }
        
  
      //Formato de los botones
        .botonLogin{
          text-align: center;
        }
  
      //texto
        --ion-text-color: rgb(0, 0, 0);
        .textColor{
          color: rgb(0, 0, 0);
        }
  
      //fondo
        --ion-background-color: rgb(227, 196, 245);
  
      //Botones
        .background-button{
          --background: #f1dff6;
          color:rgb(0, 0, 0);
        }
  
      //iconos
        .iconos{
          color: #fffdfd;
        }
  
        .backButton{
          color:rgb(0, 0, 0);
        }
  
      //Toolbar
       --ion-toolbar-background:rgb(177, 101, 218);
       --ion-toolbar-border-color: rgb(66, 40, 82);
       --ion-toolbar-color: rgb(0,0,0);
  
       ion-toolbar{
         text-align: center;
         font-family: My App Custom Font;
       }
  
      //TabBar
        --ion-tab-bar-background:rgb(177, 101, 218);
        --ion-tab-bar-border-color:rgb(66, 40, 82);
        --ion-tab-bar-color-selected: #000000;
        --ion-tab-bar-color: rgb(0, 0, 0);
}

@font-face{
    font-family: 'titulo';
    font-style: normal;
    src:url('assets/fonts/inicioApp.ttf');
}

